<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/contents.css">
    <title>1. CSSについて|</title>
</head>

<body>
    <header>
        <h1>1. CSSについて</h1>
    </header>

    <div class="home">
        <a href="css0">CSSコース一覧へ戻る</a>
    </div>
    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>一通り、ページ上に文字を表示することができるようになったね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>結構できるようになりました。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>でも、ただの白い画面に黒い文字で、つまんないです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだろうとも。これから、より鮮やかなWebページを作っていくためのスキルを教えていきます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>非常にうれしい。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>それでは、CSSの書き方から学んでいきましょう。<br>
                   はじめに言ったように、CSSは内容を<span>装飾するため</span>に使います。<br>
                   まず、<span class="blue">CSSを反映させたい要素</span>を選ぼう。その要素をここでは<span>プロパティ</span>と呼びます。
                </p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>基本的な書き方はこちら。</p>
                    <pre>
プロパティ<span class="blue">(どこに)</span>{
                            セレクタ<span class="green">(どんなスタイルを)</span>: 値<span class="orange">(どれだけ)</span>;
                            }</pre>
                    <p>このとき、<span class="green">変えたい内容</span>を<span>セレクタ</span>、<span class="orange">どんなふうに変えるか</span>を<span>値</span>と呼びます。
                </p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>この書き方は基本的に変わらないので、覚えておいてください。
                </p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わかりました。</p>
            </div>
        </div>

     
     
</div>
        <footer>
            <a href="css0" class="back">もどる</a>
            <a href="css2" class="next">次へ</a>
        </footer>
    <style>

 
    </style>
</body>

</html>