<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/contents.css">
    <title>2. 色を変えてみよう！《color》</title>
</head>

<body>
    <header>
        <h1>2. 色を変えてみよう！《color》</h1>
    </header>

    <div class="home">
        <a href="css0">CSSコース一覧へ戻る</a>
    </div>

    <div class="talk">

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>早速、簡単なところから始めていきましょう。<br>
                舞うはじめに学ぶのは</p>
            </div>
        </div>


</div>


<footer>
    <a href="css7" class="back">もどる</a>
    <a href="/contents/js/javascript0" class="next">次へ</a>
</footer>