@import url("https://fonts.googleapis.com/css?family=Zen Maru Gothic");

* {
    font-family: 'Zen Maru Gothic', sans-serif;
}

/* ヘッダー */
body {
    font-family: 'Zen Maru Gothic';
    background-color: #ebebe6;
}

p {
    font-size: 20px;
    color: #9d8e6e;
}
header {
    width: 100%;
}
header h1 {
    display: inline-block;
    text-align: center;
    color: #9d8e6e;
    font-size: 40px;
    border-bottom: 3px solid #9d8e6e;
    border-left: 7px solid #9d8e6e;
    padding: 0 30px;
}
header h2 {
    display: inline-block;
    text-align: center;
    color: black;
    font-size: 40px;
    border-bottom: 3px solid black;
    border-left: 7px solid black;
    padding: 0 30px;
}

span {
    color: red;
    font-weight: bold;
}

.img{
    color: #2d99bd;
    font-size: 20px;
}

.home{
    text-align: right;
}

.home a{
    font-size: 20px;
    display: inline-block;
    text-align: center;
    color: white;
    background-color: #9d8e6e;
    border-radius: 10px;
    text-decoration: none;
    width: 250px;
    height: 40px;
}

pre{
    font-weight: bold;
    font-size: 30px;
}
span{
    font-weight: bold;
}
.green{
    color: #00ff2f;
}
.blue{
    color: blue;
}
.orange{
    color: orange;
}

span{
    font-size: 26px;
}

.code{
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(62, 62, 62);
    color: white;
    border-radius: 8px;
    position: relative;
    padding: 35px 10px 5px 10px;
}
.code::before {
    content: "HTML";
    font-size: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: absolute;
    display: block;
    padding: 0 15px;
    top: 0;
    left: 0;
    color: rgb(73, 73, 73);
    background-color: rgba(221, 221, 221, 0.805);
    border-radius: 8px 0 0 0;
}
.css-code{
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(62, 62, 62);
    color: white;
    border-radius: 8px;
    position: relative;
    padding: 35px 10px 5px 10px;
}
.css-code::before {
    content: "CSS";
    font-size: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: absolute;
    display: block;
    padding: 0 15px;
    top: 0;
    left: 0;
    color: rgb(73, 73, 73);
    background-color: rgba(221, 221, 221, 0.805);
    border-radius: 8px 0 0 0;
}

.js-code{
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(62, 62, 62);
    color: white;
    border-radius: 8px;
    position: relative;
    padding: 35px 10px 5px 10px;
}

.js-code::before {
    content: "Javascript";
    font-size: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: absolute;
    display: block;
    padding: 0 15px;
    top: 0;
    left: 0;
    color: rgb(73, 73, 73);
    background-color: rgba(221, 221, 221, 0.805);
    border-radius: 8px 0 0 0;
}

.preview{
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 8px;
    position: relative;
    padding: 35px 10px 5px 10px;
    border: 2px solid black;
    width: calc(100% - 20px - 2px);
}
.preview::before {
    content: "PREVIEW";
    font-size: 15px;
    font-family: 'Zen Maru Gothic', sans-serif;
    position: absolute;
    display: block;
    padding: 0 15px;
    top: 0;
    left: 0;
    color: rgb(73, 73, 73);
    background-color: rgba(221, 221, 221, 0.805);
    border-radius: 8px 0 0 0;
}


/*会話文のところ*/

.balloon {
    margin-bottom: 2em;
    position: relative;
    margin: 10px 100px;
    /*2023.07.15 中心に寄せたいがためにつけたmargin
    09.25 60→100に変更*/
}

.balloon:before,
.balloon:after {
    clear: both;
    content: "";
    display: block;
}

.balloon figure {
    width: 60px;
    height: 60px;
}

.balloon-image-left {
    float: left;
    margin-right: 20px;
}

.balloon-image-right {
    float: right;
    margin-left: 20px;
}

.balloon figure img {
    width: 100%;
    height: 100%;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0;
}

.balloon-image-description {
    padding: 5px 0 0;
    font-size: 10px;
    text-align: center;
}

.balloon-text-right,
.balloon-text-left {
    background-color: #fff;
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: inline-block;
}

.balloon-text-right:has(.preview),
.balloon-text-left:has(.preview) {
    background-color: #fff;
    position: relative;
    padding: 10px;
    margin-bottom: 40px;
    border: 1px solid;
    border-radius: 10px;
    max-width: -webkit-calc(100% - 120px);
    max-width: calc(100% - 120px);
    display: inline-block;
    width: calc(100% - 180px);
}

.balloon-text-right {
    border-color: #aaa;
}

.balloon-text-left {
    border-color: #aaa;
}

.balloon-text-right {
    float: left;
}

.balloon-text-left {
    float: right;
}

.balloon p {
    margin: 0 0 20px;
}

.balloon p:last-child {
    margin-bottom: 0;
}

/* 三角部分 */
.balloon-text-right:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #aaa;
    top: 15px;
    left: -20px;
}

.balloon-text-right:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid #fff;
    top: 15px;
    left: -19px;
}

.balloon-text-left:before {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #aaa;
    top: 15px;
    right: -20px;
}

.balloon-text-left:after {
    position: absolute;
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid #fff;
    top: 15px;
    right: -19px;
}

.talk {
    margin: 20px 0;
}

.exercise {
    font-size: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    color: white;
    background-color: #9d8e6e;
    border-radius: 4px;
    text-decoration: none;
    width: 150px;
}

/* フッター */
/* ボタンの親要素 */
footer {
    display: flex;
    justify-content: space-between;
}
/* 画面下部 ページ移動ボタン */
footer a {
    font-size: 20px;
    padding: 10px;
    display: block;
    text-align: center;
    color: white;
    background-color: #9d8e6e;
    border-radius: 4px;
    text-decoration: none;
    width: 150px;
}
