<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v6.2.0/css/all.css" rel="stylesheet">
    <title>STADIC-Start Adventure in Code- コードの冒険を始めよう</title>

</head>
<body id="body">
    <div calss="headline">
      <div class="logo" style="text-align: center;">
      <img src="/images/logo.png" style="width:400px;height:300px;">
   </div>
    </div><!--done-->
    <div id="login">
       <form method="POST" action="/login" name='form-login'><!--done-->

         <div class="spanu">
            <i class="fa-solid fa-user"></i>
         </div>

            <input type="text" name="uid" id="uid" placeholder="ID"><!--done-->

           <div class="spanu">
          <i class="fa-solid fa-lock"></i>
         </div>

           <input type="password" name="passwd" id="passwd" placeholder="PASSWORD" maxlength="15" minlength="4"><!--done-->

          <input type="submit" name="submit" id="submit" value="Login">
          <!-- pwdがある場合は、絶対にPOATで送る-->
          <a href="/images/manual_vol2.pdf">!!!使用する前に必ずお読みください!!!</a><br>
          <a calss="new-menber" href="/register">新規会員登録はこちら</a> <!--done-->

       </form>
    </div>
</body>
</html>
