<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規会員登録はこちら| STADIC-Start Adventure in Code- コードの冒険を始めよう
    </title>
    <link rel="stylesheet" href="stylesheets/style.css">
</head>

<body id="body">
    <div calss="headline">
        <div class="logo" style="text-align: center;">
            <img src="/images/logo.png" style="width:400px;height:300px;">
         </div>
        <h1><span class="fontawesome-user"></span>登録はこちら<span class="fontawesome-user"></span></h1>
    </div>
    <div id="login">
        <form method="POST" action="/new">

            <div class="spanu">
                <i class="fa-solid fa-user"></i>
             </div>
            <input type="text" name="uid" id="uid" placeholder="ID"><br />

            <div class="spanu">
                <i class="fa-solid fa-lock"></i>
               </div>
            <input type="password" name="passwd" id="passwd" placeholder="PASSWORD"><br />
            <!---
            <div class="spanu">
                <i class="fa-solid fa-envelope"></i>
               </div>
            <input type="email" name="email" id="email" placeholder="MAILADRESS"><br /> -->
            <input type="submit" name="submit" id="submit">

            <!-- pwdがある場合は、絶対にPOATで送る-->
        </form>
        <a href="/">戻る</a>
        </form>
    </div>

</body>

</html>