<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/contents.css">
    <title>CSS - <%= COURSE.idx %>. <%= COURSE.title %></title>
</head>

