<!DOCTYPE html>
<html lang="en">

<%- include("_head") %>

<body>
    <%- include("_header") %>

    <div class="home">
        <a href="list">CSSコース一覧へ戻る</a>
    </div>

    <div class="talk">

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>早速、簡単なところから始めていきましょう。<br>
                まずはじめに学ぶのは<span>色の変更</span>です。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>色が変わると、それだけで見応えがありますね。<br>どういう時に使うんですか？</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>簡単に言うと、文字の色を変えるためのプロパティです。<br>
                    例えば、赤い文字や青い文字を作るのに使えるんだ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>ふーん。色はどうやって指定するんだろう。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>良い質問です。<br>
                    使い方は簡単です。CSSのコードで<span>color: 色;</span>って書くだけ。<br>
                    例えば、<span class="img">color: red;</span>って書くと、その要素の文字が赤くなるんだ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>へえ！英語で指定するだけで使えるんですね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り。でも、もっと細かく指定する方法があるんですよ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>教えてください。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>例えば、「#FF0000」っていう<span>16進数コード</span>や、<br>「rgb(255, 0, 0)」っていう<span>RGB値</span>を使うと、
                    同じ赤でも微妙に違う色を指定できるんだよ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>16進数コードとかRGB値って、ちょっと難しそうですね…。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>色の指定の仕方がワンパターンじゃない、ということを知ってくれたらいいよ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わかりました。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>それでは、演習問題に取り組んでみましょう！<a href="/contents/css/ex/ex2-1" id="ex1" class="exercise">[演習へ進む]</a></p>
            </div>
        </div>

    </div>

    <%- include("_footer") %>
</body>