<!DOCTYPE html>
<html lang="en">

<%- include("_head") %>

<body>
    <%- include("_header") %>


    <div class="home">
        <a href="css0">CSSコース一覧へ戻る</a>
    </div>

    <div class="talk">


        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>リンクって、青文字で、下線が引かれてて、いかにも”クリックしてくださーい”って感じですね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わかりやすいけど、Webページをレイアウトしていくうちに、<span class=img>リンクだけ馴染めてない状態</span>になりそうです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>うんうん。そんな君には、リンクのレイアウトの仕方を教えてあげましょう。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なんでも教えてくれるせんせいだ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                <a href="test-css8.ejs">せんせいのブロマイドはこちら</a>
            </div>
                <p>↑これは、aタグで作った別のWebページに飛ぶリンクです。<br>
                    上のように、何もいじらない状態で、リンクは<span class="img">青文字で表示され、下線が引かれています</span>。<br>
                   </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>そうそう。ちょっとやっぱり、浮いて見えちゃいます。</p>
            </div>
        </div>


        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだね。でははじめに、リンクの<span>色の変更</span>と<span>下線を消して</span>みましょう。<br>
                    <span>text-decoration: none;</span>：リンクにもともとついてる下線を消すCSSです。<br>
                    色を変えるセレクタは、今までと変わらずcolorを使用します。
                   </p>
                </div>
            </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>  
                   <pre class="css-code">
a{
   <span>text-decoration: none;</span> 
    color: green;
      }
                   </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                <a href="test-css8.ejs" style="text-decoration: none;color:green">せんせいのブロマイドはこちら</a>
            </div>
            <p>下線が消え、色を変化させることができましたね。
                   </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>自分のレイアウトに合わせて、リンクも馴染ませることができそうでよかったです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>もうちょっとおしゃれなレイアウトをしてみましょう。<br>
                    <span>hover</span>とは、カーソルがリンクの上に乗っている時のことを指します。<br>
                プロパティを<span>a:hover</span>に指定すると、<span>リンクの上にカーソルがあるときの状態だけのCSS</span><br>
                を指定することができます。これらはリンクだけではなく、h要素やdiv要素にも適用できます。
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>  
                   <pre class="css-code">
a<span>:hover</span>{
              color: red;
               }
                   </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                <a id="test" href="test-css8.ejs" style="text-decoration: none;">せんせいのブロマイドはこちら</a>
            </div>
            <p>カーソルを置いてみてください。色が変化しますよ！
                   </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>本当だ。おしゃれ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
            <p>今回のセクションでお教えしたのはほんの一部です。<br>
                他にも、<span class="img">通常時からhover時の色がゆっくり変わるようにしたり(transition)</span>、<br>
                <span class="img">リンクをクリックしている時だけにCSSを適用させたり(a:active)</span>することができるんですよ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>こだわることができるんですね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
            <p>自分の納得するまで装飾できるから、Webページ制作は楽しいんですよ。</p>
            </div>
        </div>
    </div>


</div>

<%- include("_footer") %>

<style>
    #test{
        color: green;
    }
    #test:visited{
        color: #2fc2f3;
    }
    #test:hover{
        color:red !important;
    }

</style>

</body>
</html>