<% const N = Number( courseName.match(/\d+$/).shift() ); %>
    <footer>
        <div>
            <% if (N > 2) { %><a href="html<%= N-1 %>" class="back">もどる</a><% } %>
        </div>
        <div>
            <a href="html<%= N+1 %>" class="next">次へ</a>
        </div>
    </footer>

    <style>
        footer div{
            min-width: 10px;
            min-height: 10px;
        }
    </style>