<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/contents.css">
    <title>8. テキストボックスを作ろう！《textboxタグ》</title>
</head>

<body>
    <header>
        <h2>8. テキストボックスを作ろう！《textboxタグ》</h2>
    </header>
    <div class="home">
        <a href="html0">HTMLコース一覧へ戻る</a>
    </div>

    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>テキストボックスをせっちに</p>
            </div>
        </div>
        </div>
    <footer>
        <a href="html9" class="back">もどる</a>

        <a href="/contents/css/css0" class="next">次へ</a>
    </footer>
</body>

</html>

<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<header>

</header>

<body>

</body>
<footer>

</footer>

</html>