<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Zen Maru Gothic' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/contents.css">
    <title>1. Webページを作るために</title>
</head>

<body>
    <header>
        <h2>1. Webページを作るために</h2>
    </header>

    <div class="home">
        <a href="html0">HTMLコース一覧へ戻る</a>
    </div>
    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>これから君たちにはWebページを作ってもらいます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はーい。でも僕たち、何もわからないです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>大丈夫。いちから教えてあげます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>非常に心強い。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>webページを作るときは、主に<span>HTML、CSS、Javascript</span>をつかいます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>えいちてぃ…？聞いたことない。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>ないよね。<br>HTMLは、webページ上の文章や画像、リンクなど、<span>基礎的な内容を指定</span>します。<br>
                    CSSは、その内容に色をつけたり、大きさを変えたり、<span>装飾するため</span>に使います。<br>
                    Javascriptは、webページの中に<span>アニメーションを加える</span>ことで、<br>より一層見やすくて、使いやすいものに仕上げることができるんです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>あ。もしかして、これがプログラミング言語ってやつですか？</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>今の3つのうち、Javascriptはプログラミング言語です。<br>
                    HTMLはマークアップ言語、CSSはスタイルシート言語といって、<br>
                    プログラミング言語とは区別されます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>HTMLは画面の文字とかを決める言語で、CSSは装飾するための言語ってことですね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>最初はそんな認識で大丈夫です。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>次は、もっと掘り下げた内容を説明します。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はーい。</p>
            </div>
        </div>
        </div>

        <footer>
            <a href="html0" class="back">もどる</a>
            <a href="html2" class="next">次へ</a>
        </footer>







    <style>
        .talk {
            margin-bottom: 60px;
        }

        /*--------------------
 吹き出しを作る
--------------------*/

    </style>
</body>

</html>