<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../../stylesheets/exercise.css">
    <script src="/javascripts/localstorage.js"></script>
    <title>2.[演習ページ]文章を書いてみよう！《pタグ・hタグ》</title>
</head>

<body>
    <h1>2. [演習ページ] 文章を書いてみよう！《pタグ・hタグ》</h1>
    <div class="column-main">
        <div class="talk">
            <div class="balloon">
                <figure class="balloon-image-left">
                    <img src="/images/piyo.png" alt="せんせい">
                    <figcaption class="balloon-image-description">せんせい</figcaption>
                </figure>
                <div class="balloon-text-right">
                    <p><span style="font-size:20px;font-weight:bold;">[演習1]</span><br>HTMLファイルに、<br>h1タグを使って「<span
                            style="color:red">ぴよぴよ</span>」と入力してください。</p>
                </div>
            </div>
            
            <div class="balloon">
                <figure class="balloon-image-left">
                    <img src="/images/piyo.png" alt="せんせい">
                    <figcaption class="balloon-image-description">せんせい</figcaption>
                </figure>
                <div class="balloon-text-right">
                    <p><span style="font-size:20px;font-weight:bold;">[演習2]</span><br>HTMLファイルに、<br>pタグを使って「<span
                            style="color:red">ひよこの豆知識を教えます</span>」と入力してください。</p>
                </div>
            </div>
            <div class="balloon">
                <figure class="balloon-image-left">
                    <img src="/images/piyo.png" alt="せんせい">
                    <figcaption class="balloon-image-description">せんせい</figcaption>
                </figure>
                <div class="balloon-text-right">
                    <p>完成したら、"REFRESH!"ボタンを押してください。</p>
                </div>
            </div>
        </div>
        <h2>HTML</h2>
        <div id="html-editor" style="background-color: #fff;"></div>

        <h2>CSS</h2>
        <div id="css-editor" style="background-color: #fff;"></div>

        <h2>JavaScript</h2>
        <div id="javascript-editor" style="background-color: #fff;"></div>


        <button id="imagePlus"><i class="fa-solid fa-plus"></i></button>
        <button id="imageMinus"><i class="fa-solid fa-minus"></i></button>
        <div id="imagebox">
            <p>ここに画像をドラッグ＆ドロップしてください</p>
            <template id="file-names-template">
                <div class="file-names-i">
                    <img class="test" src="/images/structure.png">
                    <i class="fa-solid fa-xmark"></i>
                    <input type="hidden" value="">
                </div>
            </template>
            <div id="file-names">

            </div>
            <input type="file" class="uploadButton" accept="image/png, image/jpeg" id="initialUploadButton" multiple>
            </div>
        </div>
        <div id="gallery"></div>



        <button id="downloadButton" class="course-button">
            <i class="fa-solid fa-download"></i>
        </button>
        <button id="doPreviewUpdate" type="button" class="course-button" style="margin:30px 280px;display:block;">REFRESH!
        </button>
        <button id="doPreviewSave" type="button" class="course-button" style="margin:30px 280px;display:block;" >SAVE!</button>

        <a href="html3#ex1" class="course-button" style="margin:auto;">トークに戻る</a>
    </div>
    <div class="column-sub">
        <iframe id="preview" style="background-color:#fff; position:fixed;"></iframe>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const target = document.getElementById("preview");

            // (1)ページ読み込み時に一度だけスクロール量を出力
            let scroll_y = window.scrollY;
            console.log(scroll_y);

            // (2)スクロールするたびにスクロール量を出力
            window.addEventListener('scroll', (event) => {
                let scroll_y = window.scrollY;
                if (scroll_y > 165) {
                    target.classList.add("fullsize");
                    target.style.height = `calc(100vh - 18px)`
                } else {
                    target.classList.remove("fullsize");
                    target.style.height = `calc(100vh - 18px - 165px + ${scroll_y}px)`
                }
            });
        })

         // 画像をアップロードする関数
         //change(状態が変わったら) click→クリックしただけで反応
        // document.addEventListener('change',uploadImage);
        
        // let file;
        // let uri;

        // function uploadImage(e) {   
        //     console.log(e.target)  
        //     file = e.target.files[0]
        //     var reader = new FileReader()
        //     reader.onload = function (e) {
        //         uri = e.target.result
        //         hogehoge(file, uri)
        //     }
        //     reader.readAsDataURL(file)
        //     console.log(file, uri)
        // }


        // ファイルが大きすぎるとエラー
        const imageboxonChange = (changeEvent) => {
            const files = changeEvent.target.files;
            for (let i = 0; i< files.length; i++) {
                const file = files[i];

                const reader = new FileReader();
                reader.onload = (e) => {
                    const uri = e.target.result;
                    const fileName = file.name;
                    const fileType = file.type;
                    hogehoge(fileName, fileType, uri);
                }
                reader.readAsDataURL(file);
            }
        }
        document.getElementById('initialUploadButton').addEventListener('change',imageboxonChange);

        const imagePlus = () => {
            const box = document.getElementById('imagebox');
            const input = document.createElement('input');
            input.classList.add('uploadButton');
            input.accept="image/png, image/jpeg";
            input.type='file';
            input.multiple=true;
            input.addEventListener('change',imageboxonChange);
            box.appendChild(input);
        } 
        document.getElementById('imagePlus').addEventListener('click',imagePlus);

        const imageMinus =()=>{
            const box = document.getElementById('imagebox');
            const target = box.lastElementChild;
            // console.log(target.files,target.files.length);
            if(target.files !== 0){
            for(let i = 0; i < target.files.length; i++){
                const file = target.files[i];
                deleteImage(file.name);
            }
        }
            box.lastElementChild.remove();
            // const inputList = box.getElementsByClassName('uploadButton');
            // inputList[inputList.length-1].remove();
        }
        document.getElementById('imageMinus').addEventListener('click',imageMinus);


        function appendFileName(uri,name){
            const fileNamesElement = document.getElementById('file-names');
            const thisIndex = fileNamesElement.getElementsByClassName('file-names-i').length;
            const template = document.getElementById('file-names-template');
            const clone = template.content.cloneNode(true); //クローンの作成。これに対して、idやclassをあてられる
            console.log(clone, clone.getElementsByClassName('test'));
            const imageElement = clone.getElementsByClassName('test')[0];
            imageElement.src = uri;
            const inputElement = clone.getElementsByTagName('input')[0];
            inputElement.value = name;
            const iElement =  clone.getElementsByTagName('i')[0];
            iElement.addEventListener('click',()=>{
                removeFileName(thisIndex);
            });
         }


         function removeFileName(index){
            const fileNamesElement = document.getElementById('file-names');
            const targetElement = fileNamesElement.getElementsByClassName('file-names-i')[index];
            const targetFileName = targetElement.getElementsByTagName('input')[0].value;
            deleteImage(targetFileName);
            targetElement.remove();
         }


    </script>
    </div>

    <script type="importmap">
        {
            "imports": {
                "codemirror/": "https://deno.land/x/codemirror_esm@v6.0.1/esm/"
            }
        }
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" inline>
    </script>

    <script async type="module" inline>
        import { basicSetup } from "codemirror/codemirror/dist/index.js"
        import { html } from "codemirror/lang-html/dist/index.js";
        import { css } from "codemirror/lang-css/dist/index.js";
        import { javascript } from "codemirror/lang-javascript/dist/index.js";
        import { EditorState } from "codemirror/state/dist/index.js";
        import { EditorView, keymap } from 'codemirror/view/dist/index.js';

        //import 'https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js';

        const htmlEditor = document.getElementById('html-editor');
        const cssEditor = document.getElementById('css-editor');
        const javascriptEditor = document.getElementById('javascript-editor');
        const previewIframe = document.getElementById('preview');

        // 各エディタのプレースホルダー
        let savedCodes = hugahuga('html3-ex1');
        const placeholderCodes = {
            html: savedCodes.html??`<!-- ここにhtmlコードを書いてください -->
            
            
            `,
            css: savedCodes.css??`/* ここにcssコードを書いてください */
            
            
            
            `,
            javascript: savedCodes.js??`// ここにjavascriptコードを書いてください
            
            
            
            `
        };


        let reList = [];
        const eventHandlers = EditorView.domEventHandlers({
            blur(event, view){
                doPreviewSave();
                updatePreview();
            },
            input(event, view){
                if (reList.length > 0) {
                    for (let i = 0; i < reList.length; i++) {
                        clearTimeout(reList[i]);
                    }
                    reList = [];
                }
                const nextRe =setTimeout(() => {
                    doPreviewSave();
                    updatePreview();
                },1000)
                reList.push(nextRe);
            }
        });



        // Code Mirror セットアップ
        const htmlView = new EditorView({
            parent: htmlEditor,
            state: EditorState.create({
                doc: placeholderCodes.html,
                extensions: [basicSetup, html(), eventHandlers]
            })
        });

        const cssView = new EditorView({
            parent: cssEditor,
            state: EditorState.create({
                doc: placeholderCodes.css,
                extensions: [basicSetup, css(), eventHandlers]
            })
        });

        const javascriptView = new EditorView({
            parent: javascriptEditor,
            state: EditorState.create({
                doc: placeholderCodes.javascript,
                extensions: [basicSetup, javascript(), eventHandlers]
            })
        });

        // ブラウザに戻ってきた時にすぐ、元書いてあるコードがプレビューに表示させる
        updatePreview();

        // State 取得用
        function getCodes() {
            const html = htmlView.state.doc.toString();
            const css = cssView.state.doc.toString();
            const javascript= javascriptView.state.doc.toString();
            
            return {
                html, css, javascript,
                doc: `<!DOCTYPE html>
<html>\n<head>\n<meta charset="UTF-8">
<style>\n${css}\n</style>\n</head>
<body>\n${html}\n<body>\n</html>`,
            };
        }

        function replaceImage(doc){
            let str = doc;
            const match = str.match(/<img[^<>]*>/g);
            console.log(match);
            if(match !== null){
            for (let i = 0; i < match.length; i++) {
                const img = match[i];
                // console.log('original img:', img);
                
                const imgsrc = img.match(/(?<=src=").+(?=")/);
                const file = getHogehoge(imgsrc);
                if(file === null){
                    continue;
                }
                const filledImg = img.replace(/(?<=src=").+(?=")/, file.uri);
                // console.log('filledImg:', filledImg);
                
                str = str.replace(img, filledImg);
                };
            }
            return str;
        }


        // プレビュー
        function updatePreview() {
            const codes = getCodes();
            // 05.17
            // const file = getHogehoge(); // LS から保存したファイルを取得
            // // file データがない→ただ表示するだけ
            // if (file === null) {
            //     previewIframe.srcdoc = codes.doc;
            //     return;
            // }
            
            // // file データあり→imgタグ置き換え
            // const replaced = codes.doc.replaceAll(file.name, file.uri);
            previewIframe.srcdoc = replaceImage(codes.doc);
        }

        function doPreviewSave() {
            const codes = getCodes();
            setCode(`html3-ex1`, codes.html, codes.css, codes.javascript);
        }

        document.getElementById("doPreviewSave").addEventListener("click", doPreviewSave);

        // window.setInterval(updatePreview, 100);
        document.getElementById("doPreviewUpdate").addEventListener("click", updatePreview);

        // ダウンロードボタンが押されたら起動
        function downloadFile(){
            // const blobx = new Blob(["Hello, world!"], {type: "text/plain;charset=utf-8"});
            // saveAs(blobx, "hello world.txt");  
            console.log('file dlownloading');

            const codes = getCodes();

            // HTML ファイルダウンロード
            const date = new Date()
            const y = date.getFullYear()
            const m = date.getMonth() +1
            const d = date.getDate()

            const filename = `mycode-${y}${m}${d}.html`;

            const bom  = new Uint8Array([0xEF, 0xBB, 0xBF]); // UTF-8だと示すためのバイトオーダーマーク
            const blob = new Blob([ bom, codes.doc ], { "type" : "text/html" });
            saveAs(blob, filename);   
            // blobx→blobというプロジェクト。バイナリーデータ（コンピュータが読めるデータのこと）。

            // IMG ファイルダウンロード
            // 考え中
        }

        // ダウンロードリンクが押されたら起動
        document.getElementById("downloadButton").addEventListener("click", downloadFile);

        // ドラックアンドドロップ
        let dropArea = document.getElementById('imagebox');
        let fileNamesDiv = document.getElementById('file-names');

        // Prevent default drag behaviors
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach((eventName) => {
            dropArea.addEventListener(eventName, preventDefaults, false);
            document.body.addEventListener(eventName, preventDefaults, false);
        });

        function preventDefaults(e) {
            e.preventDefault();
            e.stopPropagation();
        }

        // Highlight drop area when item is dragged over it
        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, highlight, false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, unhighlight, false);
        });

        function highlight(e) {
            dropArea.classList.add('highlight');
        }

        function unhighlight(e) {
            dropArea.classList.remove('highlight');
        }

        // Handle dropped files
        dropArea.addEventListener('drop', handleDrop, false);

        const files = changeEvent.target.files;
            for (let i = 0; i< files.length; i++) {
                const file = files[i];

                const reader = new FileReader();
                reader.onload = (e) => {
                    const uri = e.target.result;
                    const fileName = file.name;
                    const fileType = file.type;
                    hogehoge(fileName, fileType, uri);
                }
                reader.readAsDataURL(file);
            }

        function handleDrop(e) {
            let dt = e.dataTransfer;
            let files = dt.files;

            // Clear previous file names
            // fileNamesDiv.innerHTML = '';

            // Display file names
            for (let i = 0; i < files.length; i++) {
                let file = files[i];
                let fileName = document.createElement('p');
                fileName.textContent = file.name;
                fileNamesDiv.appendChild(fileName);
                const reader = new FileReader();
                reader.onload = (e) => {
                    const uri = e.target.result;
                    const fileName = file.name;
                    const fileType = file.type;
                    hogehoge(fileName, fileType, uri);
                    appendFileName(uri,fileName);
            }
            reader.readAsDataURL(file);
            }
        }
    </script>
    <style>
        #imagebox{
            width: calc(100% - 40px - 4px); /*paddingとborderの分を引いてます*/
        }
        .file-names{
            width: 100%;
        }
        .file-names-i{
            position: relative;
            display: inline-block;
            width: 100px;

        }
        .file-names-i img{
            object-fit: cover;
            display: block;
            width:  100px;
            height: 100px;
        }
        .file-names-i i{
            width: 10px;
            height: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    </style>
</body>

</html>
