<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/exercise.css">
    <script type="importmap">
        {
            "imports": {
                "cdm/": "https://deno.land/x/codemirror_esm@v6.0.1/esm/"
            }
        }
    </script>
    <script src="/javascripts/codemirror.js" type="module"></script>
    <script>
        const placeholderCodes = {
            html: `<!-- ここにhtmlコードを書いてください -->



            `,
            css: `// ここにcssコードを書いてください //
            


            `,
            javascript: ` //ここにjavascriptコードを書いてください 



            `
        }
    </script>
    <title>3. [演習ページ]リンクを作成しよう！《aタグ・href属性》</title>
</head>

<body>
    <h1>2. [演習ページ] リンクを作成しよう！《aタグ・href属性》</h1>
        <div class="column-main">
            <div class="talk">
                <div class="balloon">
                    <figure class="balloon-image-left">
                        <img src="/images/piyo.png" alt="せんせい">
                        <figcaption class="balloon-image-description">せんせい</figcaption>
                    </figure>
                    <div class="balloon-text-right">
                        <p>ちゃんとリンクになっていますね〜。大正解です。</p>
                    </div>
                </div>
                
                </div>
            <h2>HTML</h2>
            <div id="html-editor" style="background-color: #fff;"></div>

            <h2>CSS</h2>
            <div id="css-editor" style="background-color: #fff;"></div>

            <h2>JavaScript</h2>
            <div id="javascript-editor" style="background-color: #fff;"></div>

            <button id="doPreviewUpdate" type="button" class="course-button"style="margin-top:10px;display:block;margin:auto;">UPDATE!
            </button>
            <a href="html4#ex1" class="course-button" style="margin:auto;">トークに戻る</a>
        </div>
        <div class="column-sub">
            <iframe id="preview" style="background-color:#fff; position:fixed;"></iframe>
        </div>
    </div>
</body>
</html>