<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リアルタイムエディタだよ〜</title>
</head>
<style>
    .containor{
        display: flex;
    }
    .containor-column {
        width: 50%;
    }
    #preview{
        width: 100%;
        height: 80vh;
        border: 1px solid black;
    }
</style>

<body>
    <h1>CM6</h1>
    <div class="containor">
        <div class="containor-column">
            <h2>html</h2>
            <div id="html-editor"></div>

            <h2>css</h2>
            <div id="css-editor"></div>

            <h2>javascript</h2>
            <div id="javascript-editor"></div>
        </div>
        <div class="containor-column">
            <iframe id="preview"></iframe>
        </div>
    </div>

    <script type="importmap">
        {
            "imports": {
                "codemirror/": "https://deno.land/x/codemirror_esm@v6.0.1/esm/"
            }
        }
    </script>
    <script async type="module">
        import { basicSetup, EditorView} from "codemirror/codemirror/dist/index.js"
        import { html } from "codemirror/lang-html/dist/index.js";
        import { css } from "codemirror/lang-css/dist/index.js";
        import { javascript } from "codemirror/lang-javascript/dist/index.js";

        const htmlEditor = document.getElementById('html-editor');
        const cssEditor = document.getElementById('css-editor');
        const javascriptEditor = document.getElementById('javascript-editor');
        const previewIframe = document.getElementById('preview');

        // 各エディタのプレースホルダー
        const placeholderCodes = {
            html: ``,
            css: ``,
            javascript: ``
        }

        // Code Mirror セットアップ
        const htmlView = new EditorView({
            doc: placeholderCodes.html,
            extensions: [basicSetup, html()],
            parent: htmlEditor
        });

        console.log(htmlView);

        const cssView = new EditorView({
            doc: placeholderCodes.css,
            extensions: [basicSetup, css()],
            parent: cssEditor
        });

        const javascriptView = new EditorView({
            doc: placeholderCodes.javascript,
            extensions: [basicSetup, javascript()],
            parent: javascriptEditor
        });

        // プレビュー
        function updatePreview() {
            const htmlCode = htmlEditor.value;
            const cssCode = cssEditor.value;
            const javascriptCode = javascriptEditor.value;


            const coveredCssCode = `<style>${cssCode}</style>`;
            const coveredJavascriptCode = `<script>${javascriptCode}</scr${'ipt'}>`; // エスケープ処理

            const combinedCode = `
                <html>
                <head>${cssCode}</head>
                <body>${htmlCode}${coveredJavascriptCode}</body>
                </html>
            `;

            previewIframe.srcdoc = combinedCode;
        }

        htmlEditor.addEventListener('input', updatePreview);
        cssEditor.addEventListener('input', updatePreview);
        javascriptEditor.addEventListener('input', updatePreview);
    </script>
    
</body>

</html>