<!DOCTYPE html>
<html lang="en">

<%- include("_head") %>

<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">HTMLコース一覧へ戻る</a>
    </div>
    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>リンクを作成します。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>ゼルダ？</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>…。<br>
                   文字をクリックしたら、次のページに飛ぶ、なんて機能は君もよく知っていますね？</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>よく見ますね。次のページに…とか。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだよね。そんなリンクを作成するためには、<span>a要素</span>を使用します。<br>
                    aタグだけではリンクを作成したことにはならず、そのリンクをクリックしたときに、<br>
                    <span class="img">どこのページに飛ぶかを指定</span>しなくてはいけませんね。<br>
                    そのためには、<span>href属性</span>を指定してあげる必要があります。これは、<span>&lt;a href=&quot;<span class="img" style="font-size: 25px;">url</span>&quot;&gt;</span>と<br>
                    入力することで、飛び先をそのURL上にすることができるのです。
                   </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>気をつけるポイントは、<br>href属性をつける際に<span>ダブルクォーテーション("")で囲う</span>必要があるということ！</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>へえ！やってみたいです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>どうぞ。前回のセクションの続きを書いていきましょう。<br>
                    では、飛び先のテスト用のURL<span class="img">link-test.html</span>を入力してください。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <pre class="code">
&lt;h1&gt;Hello,World!&lt;/h1&gt;
 &lt;h2&gt;Let's challenge yourself to create web pages!&lt;/h2&gt;
 &lt;p&gt;Learn the basics of HTML, CSS, and simple 
          Javascript to complete your own web page.&lt;/p&gt;
 &lt;<span>a href="link-test.html"</span>&gt;Click here to learn HTML&lt;<span>/a</span>&gt;
                </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>どうかな。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                    <h1>Hello,World!</h1>
                <h2>Webサイト制作にチャレンジしよう！</h2>
                <p style="color:black">HTMLの基礎からCSS、簡単なJavascriptまで学んで、自作のWebページを完成させましょう。</p>
                <a href="/contents/html4-test">HTMLの学習はこちら</a>

                </div>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>ちゃんとリンクになっていますね〜。大正解です。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>やった〜！</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>では、まとめです。<br>
                    <span class="img">aタグ</span>：他のページに飛ぶために使う要素<br>
                    <span class="img">href属性</span>：飛び先を指定するために使う属性
                </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>HTMLの基礎を学ぶコースでは、どんなタグ(要素)がどんな働きをするのか、という説明が多いです。<br>
                    実際に使ってみて覚えていきましょう！
                </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わかりました。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>前回のように演習問題を用意しましたよ。<a href="ex/ex2" id="ex1" class="exercise">[演習へ進む]</a></p>
            </div>
        </div>


    </div>

    <%- include("_footer") %>

</body>
</html>