<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">JSコース一覧へ戻る</a>
    </div>

    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>さて、せいとくん。これまでHTMLとCSSについて一緒に勉強してきたけど、どうだった？</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい。HTMLではWebページの骨組みを作って、<br>
                    CSSで見た目を整えるっていうのがだいぶイメージできました。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>ちゃんと理解してるみたいで安心です。<br>
                    HTMLは建物の柱や壁、CSSはその建物に色を塗ったりデザインを加えるような役割だったよね。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、覚えています！でも、それだとまだ動きのあるページは作れない感じですよね？</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>おっ、いい視点。そのとおり。HTMLとCSSだけだと、Webページは静止画みたいなものです。<br>
                    動きをつけたり、ユーザーとやり取りしたりするのに必要なのが、今回のテーマ、JavaScriptなんだ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど。じゃあJavaScriptが加わると、Webページがもっと動的になるってことですね？</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうそう。<br>
                    例えば、ボタンをクリックしたときに何かが動くとか、フォームに入力した内容をチェックするとか。<br>
                    そんな『<span class="img">動き</span>』や『<span class="img">反応</span>』を作るのがJavaScriptの役割なんだ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>それって、HTMLやCSSではできないことなんですか？</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>うん、HTMLやCSSだけじゃそこまでは無理なんだ。<br>
                    HTMLは基本的に情報を配置するだけだし、CSSはその情報をどう見せるかを決めるだけだからね。<br>
                    でもJavaScriptは<span class="img">『どう動くか』を指示できる</span>んだよ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>つまり、HTMLが『<span>何があるか</span>』、<br>
                    CSSが『<span>どう見えるか</span>』、<br>
                    JavaScriptが『<span>どう動くか</span>』を担当する感じですね！</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そういうこと！簡潔にまとめられてて素晴らしいね。<br>
                    さらに言うと、JavaScriptはユーザーの操作に応じて動きを変えたり、サーバーと<br>
                    通信したりすることもできるんだよ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>サーバーと通信するっていうのは、どんなときに使うんですか？</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>例えば、ショッピングサイトで商品をカートに追加したり、ログインするときの動作だね。<br>
                    データを送ったり受け取ったりして、<span class="img">ページの一部だけを更新できる</span>のが<br>
                    JavaScriptのすごいところなんだ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>それはすごい。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>ここでは難しい内容を扱うので、こんなのもあるんだなあくらいで知ってくれたら嬉しいかな。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>そうなんだ。より良いWebページを作れるように頑張りたいなあ。</p>
            </div>
        </div>
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その意気だね。じゃあ、次回から具体的にJavaScriptの使い方に入っていこうか！</p>
            </div>
        </div>  
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はーい。</p>
            </div>
        </div>
    </div>
    
    <%- include("_footer") %>
</footer>
</body>
</html>   