<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>
    <div class="talk">

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>今日は新しいことに挑戦します。<br>
                    画面にメッセージを表示させるんです。</p>
            </div>
        </div>
    
    <div class="balloon">
        <figure class="balloon-image-right">
            <img src="/images/pen.png" alt="せいとくん">
            <figcaption class="balloon-image-description">せいとくん</figcaption>
        </figure>
        <div class="balloon-text-left">
            <p>メッセージを表示する？どうやるんですか？</p>
        </div>
    </div>
    
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>実は、JavaScriptっていうプログラミング言語を使うと簡単にできるんです。<br>
                    まずは「アラート」っていう機能を使ってみようか。</p>
            </div>
        </div>
    
    <div class="balloon">
        <figure class="balloon-image-right">
            <img src="/images/pen.png" alt="せいとくん">
            <figcaption class="balloon-image-description">せいとくん</figcaption>
        </figure>
        <div class="balloon-text-left">
            <p>アラート？どんな感じになるんですか？</p>
        </div>
    </div>
    
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>じゃあ、ちょっと見せてみようか。このコードをエディタに入力してみて。</p>
            </div>
        </div>
    

    
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
<pre class="js-code">
alert(&quot;こんにちは！Webサイトへようこそ！&quot;);
                </pre>
            </div>
        </div>
    </div>

    <div class="balloon">
        <figure class="balloon-image-right">
            <img src="/images/pen.png" alt="せいとくん">
            <figcaption class="balloon-image-description">せいとくん</figcaption>
        </figure>
        <div class="balloon-text-left">
            <p>えっ、これだけ？簡単そうですね。</p>
        </div>
    </div>
    
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだよ！このコードを保存してブラウザで開くと、画面にメッセージがポップアップするんだ。</p>
            </div>
        </div>
    </div>

    <div class="balloon">
        <figure class="balloon-image-right">
            <img src="/images/pen.png" alt="せいとくん">
            <figcaption class="balloon-image-description">せいとくん</figcaption>
        </figure>
        <div class="balloon-text-left">
            <p>へえ〜。動的なデザインがあるとWebページを見ていて楽しいですね。</p>
        </div>
    </div>

    <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだね。JavaScriptはこうやってWebサイトに動きをつけるのが得意なんだよ。</p>
            </div>   
    </div> 

    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-2" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>
    <%- include("_footer") %>
</footer>
</body>
</html> 