<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>

    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>前回学んだアラートを、ボタンを押した時だけ出るようにしますよ〜。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>よろしくお願いします。</p>
            </div>
        </div>
        
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>どうやってやるのか、早速教えてください。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>はい。<br>
                    まず、HTML でボタンを作って、それにJavaScriptで『押したら何をするか』を指示します。<br>
                    試しに簡単な例を見てみよう！</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <pre class="code">
&lt;button id=&quot;myButton&quot;&gt;クリックしてね&lt;/button&gt;
                </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <pre class="js-code"><span>
document.getElementById(&quot;myButton&quot;).addEventListener(&quot;click&quot;, function() { </span>
    alert(&quot;ボタンが押されました！&quot;);
  });
                </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>Webページには、次のように表示されます。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                    <button id="myButton">クリックしてね</button>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>あ！さっきのページで学んだアラートが、このボタンをクリックした時に表示されましたね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り！<span class="img">addEventListener</span>っていうのが鍵だね。<br>
                    これで『ボタンがクリックされたときの動き』を指定できるんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど。でも addEventListenerの中に何を書けばいいのか、ちょっと難しそうですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>いい質問だね！中には『何をするか』を書くんだけど、<br>
                    今回は <code>alert</code> でメッセージを表示するようにしてるんだ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p></p>
            </div>
        </div>
      
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り！こうやって HTML と JavaScript を組み合わせると、画面をいろいろ操作できるんだよ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>ちょっとずつ仕組みが分かってきました！でも、間違えるとエラーになりそうで少し心配です。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>エラーは誰でも最初は出るものだから、怖がらなくていいよ。<br>
                    エラーが出たら、コードを見直して直す練習をすればいいのでね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わかりました！まずは今日の例をしっかり試してみます！</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>いいね！次回のアクションもお楽しみに。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>ありがとうございました。</p>
            </div>
        </div>
        
    </div>

    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-1" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>
    <%- include("_footer") %>
</footer>
</body>
</html>   

<script>
document.getElementById("myButton").addEventListener("click", function() { 
                        alert("ボタンが押されました！");
                      });
</script>