<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>

    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>さて、前回はボタンをクリックしたときに動きをつける方法を学びました。<br>
                    今回は、その応用としてボタンをクリックして文字を変更してみようと思います。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>文字の変更なんてできるんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>もちろん。前回やったように、ボタンにアクションをつけて、<br>
                    クリックしたら特定の文字を変える指示をするだけです。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>特定の文字を変えるって、どんな風にやるんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>まず、HTMLで文字を表示させる部分を作ります。たとえば、こんな感じ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <pre class="code">
&lt;p id=&quot;text&quot;&gt;ここが変わるよ！&lt;/p&gt;
&lt;button id=&quot;changeTextButton&quot;&gt;文字を変更&lt;/button&gt;
                </pre>
            </div>
        </div>


        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                    <p>ここが変わるよ！</p>
                    <button>文字を変更</button>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど、最初に表示される文章は 'ここが変わるよ！' なんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り。<br>
                    そしてJavaScriptで、ボタンをクリックしたらこの文章を別のものに変えるよう指示します。<br>
                    コードはこんな感じ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <pre class="js-code">
document.getElementById(&quot;changeTextButton&quot;).addEventListener(&quot;click&quot;, function() {
    document.getElementById(&quot;text&quot;).textContent = &quot;文字が変わったよ！&quot;;
      });
                </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <div class="preview">
                    <p id="text">ここが変わるよ！</p>
                    <button id="changeTextButton">文字を変更</button>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>わ！これだと、ボタンを押すと 'ここが変わるよ！' が '文字が変わったよ！' に変わるんですね！</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り！textContentというのがポイントです。<br>
                    このプロパティを使うと、<span class="img">HTMLの中にある文字を簡単に変えられる</span>んだよ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>すごく簡単そうですね！でも、ボタンを押した後にもう一度押したら、どうなるんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>いい質問だね！この場合、コードに特に制限を入れていないから、何度押しても同じ文字になります。<br>
                    もし押すたびに別の文字に変えたいなら、次回にやってみよう！</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>分かりました！まずはこの例をしっかり試してみます！</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その調子！分からないことがあったら、また聞いてね。</p>
            </div>
        </div>        

    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-3" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>

</div>
    <%- include("_footer") %>
</footer>
</body>
</html>   

<script>
    document.getElementById("changeTextButton").addEventListener("click", function() {
    document.getElementById("text").textContent = "文字が変わったよ！";
      });
</script>