<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>

    <div class="talk">
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>せんせい、前回の「ボタンをクリックして文字を変更する」やつ、<br>
                    家で復習したらできました。次は何をやりますか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>よかったです！<br>
                    次は、ボタンをクリックして「画像を切り替える」方法を学びます。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>画像の切り替え！何かスライドショーみたいな感じですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そんな感じ。スライドショーの基本を押さえる第一歩です。<br>
                    まず、HTMLで準備するものから始めよう。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、どんなHTMLを書くんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>シンプルに、画像を表示するための<code>&lt;img&gt;</code>タグと、<br>
                    画像を切り替えるためのボタンを用意するよ。こんな感じ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                    <pre class="code">
&lt;img <span>id="mainImage"</span> src="image1.jpg">
&lt;button <span>id="changeImageButton"</span>&gt;画像を切り替え&lt;/button&gt;
                    </pre>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>あ、画像を表示するための<code>&lt;img&gt;</code>タグですね！でも、<code>id="mainImage"</code>って何ですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>いい質問！<code>id</code>は、<span class="img">そのタグをJavaScriptで操作するときの目印</span>みたいなものだよ。<br>
                    この場合、「mainImage」って名前で画像を特定できるようにしてるんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど！じゃあ、ボタンの方は<span>id="changeImageButton"</span>で特定するんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうそう、ばっちり理解していますね。次に、JavaScriptを書いていきます。<br>
                    ボタンをクリックしたときに画像を切り替えるコードです。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <pre class="js-code">
document.getElementById("<span>changeImageButton</span>").addEventListener("click", function() {
    const image = document.getElementById("<span>mainImage</span>");
    if (image.src.includes("image1.jpg")) {    <span style="color:lightgreen">//←最初に表示したい画像</span>
        image.src = "image2.jpg";    <span style="color:lightgreen">//←切り替えたい画像</span>
    } else {
        image.src = "image1.jpg"; 
    }
});
                </pre>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>えっと…少し難しそうですけど、これって何をしているんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>順番に説明します。<br>
                    まず、<span>document.getElementById("changeImageButton")</span>で、ボタンを特定してる。<br>
                    それから、<span>addEventListener</span>で「ボタンがクリックされたら実行する処理」を指定してるんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど！その中の<code>function</code>の中身が実行されるんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>その通り！その中で、まず<code>document.getElementById("mainImage")</code>で画像を取得して、<br>
                    「<span>今の画像がimage1.jpgだったらimage2.jpgに変える</span>」という処理をしてるんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>逆に、<span>じゃない場合は、image1.jpgに戻す</span>んですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>うん、仕組みはこれだけ。じゃあ実際に、どう表示されるのか試してみよう。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、やってみます！</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <div class="preview">
                    <img id="mainImage" src="/images/pen2.png" style="width:300px; height:300px;">
                    <button id="changeImageButton">画像を切り替え</button>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>すごいね！これで、ボタンを使って画像を切り替える基本はバッチリですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>本当に簡単なんですね。</p>
            </div>
        </div>
        
        
    </div>

    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-5" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>
    <%- include("_footer") %>
</footer>
</body>
</html>   

<script>
    document.getElementById("changeImageButton").addEventListener("click", function() {
    const image = document.getElementById("mainImage");
    if (image.src.includes("/images/pen2.png")) {
        image.src = "/images/piyo2.png";
    } else {
        image.src = "/images/pen2.png";
    }
});
</script>
