<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>

    <div class="talk">

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>せいとくん、前にボタンをクリックして文字を変える方法をやったよね。覚えてる？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、覚えてます。<code>addEventListener</code>とかを使って、文字を変えるコードを書きましたね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうそう。今回はそれを少し発展させて、「タイマー」を作ってみるよ。<br>
                    例えば、<span class="img">何秒後に文字を変えたり、カウントダウンを表示したりする</span>んだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>面白そう。タイマーってどうやって作るんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>タイマーにはJavaScriptの<code style="color:red">setTimeout</code>や<code style="color:red;">setInterval</code>っていう関数を使うんだ<br>
                    まずは<code>setTimeout</code>を試してみようか。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p><code>setTimeout</code>ですか？それは何をする関数なんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p><code>setTimeout</code>は、「<span>指定した時間が経ったら、この処理を実行してね</span>」っていう感じ。<br>
                    例えば、ボタンを押した3秒後に「3秒経ちました！」と、ポップアップで表示させてみようか。<br>
                    こんなコードを書けばいい。
                </p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                    <pre class="code">
&lt;button id=&quot;popupButton&quot;&gt;タイマースタート&lt;/button&gt;
                </pre>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                    <pre class="js-code">
<span style="color:lightgreen"> // ↓ボタンのクリックイベントを設定</span>
document.getElementById("popupButton").addEventListener("click", function() {
<span style="color:lightgreen">// ↓3秒後にポップアップを表示</span>
<span>setTimeout</span>(function() {
alert("3秒経ちました！");
}, 3000); <span style="color:lightgreen">// ←3000ミリ秒（3秒）</span>
});
                </pre>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p><code>3000</code>って何ですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>それは時間だよ。<span class="img">JavaScriptではミリ秒で指定</span>するから、<code>3000</code>は3秒を意味するんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど！これで3秒待ってから「こんにちは！」が表示されるんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだね。実際にどのように表示されるか、見てみよう。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <div class="preview">
                    <button id="popupButton">タイマースタート</button>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、ちゃんと3秒後に「3秒経ちました！」が表示されました！これ、使い道がたくさんありそうですね。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうそう。<br>
                    これを使えば、このポップアップが出る前にクイズを解き終える…なんてシステムも作れますよ。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>楽しそう！</p>
            </div>
        </div>
        
    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-5" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>
    </div>
    <%- include("_footer") %>
</footer>
</body>
</html> 

<script>
    // ↓ボタンのクリックイベントを設定
document.getElementById("popupButton").addEventListener("click", function() {
// ↓3秒後にポップアップを表示
setTimeout(function() {
alert("3秒経ちました！");
}, 3000); // ←3000ミリ秒（3秒）
});
</script>