<!DOCTYPE html>
<html lang="en">
    <%- include("_head") %>
<body>
    <%- include("_header") %>
    <div class="home">
        <a href="list">Javascriptコース一覧へ戻る</a>
    </div>

    <div class="talk">

        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>せいとくん、前にボタンをクリックして文字を変える方法をやったよね。覚えてる？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、覚えてます。ボタンの<code>onclick</code>イベントを使って、文字を変えるコードを書きましたね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうそう。今回はそれを少し発展させて、「タイマー」を作ってみるよ。<br>
                    例えば、<span class="img">何秒後に文字を変えたり、カウントダウンを表示したりする</span>んだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>面白そう。タイマーってどうやって作るんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>タイマーにはJavaScriptの<code style="color:red">setTimeout</code>や<code style="color:red;">setInterval</code>っていう関数を使うんだ<br>
                    まずは<code>setTimeout</code>を試してみようか。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p><code>setTimeout</code>ですか？それは何をする関数なんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p><code>setTimeout</code>は、「<span>指定した時間が経ったら、この処理を実行してね</span>」っていう感じ。<br>
                    例えば、3秒後に「こんにちは！」と表示するには、こんなコードを書けばいい。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                    <pre class="js-code">
setTimeout(function() {
    console.log("こんにちは！");
}, 3000);
                </pre>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p><code>3000</code>って何ですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>それは時間だよ。<span class="img">JavaScriptではミリ秒で指定</span>するから、<code>3000</code>は3秒を意味するんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど！これで3秒待ってから「こんにちは！」が表示されるんですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そうだね。実際にどのように表示されるか、見てみよう。</p>
            </div>
        </div>

        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <div class="preview">
                    <h1>Hello,World!</h1>
                </div>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>はい、ちゃんと3秒後に「こんにちは！」が表示されました！これ、使い道がたくさんありそうですね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>そう思うでしょ？でも、これだけじゃ「一回だけ実行」なんだ。もし繰り返しタイマーを動かしたいときは、<code>setInterval</code>を使うよ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p><code>setInterval</code>はどう違うんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p><code>setInterval</code>は「指定した間隔ごとに処理を繰り返す」んだよ。例えば、1秒ごとにカウントアップするには、こう書くんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>
                    <pre class="js-code">
let count = 0;
setInterval(function() {
count++;
console.log(count);
}, 1000);
                    </pre>
                </p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>おお、これで1秒ごとに<code>count</code>が増えるんですね！でも、これ止める方法はあるんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>いい質問だね！止めるには、<code>clearInterval</code>っていう関数を使うよ。<code>setInterval</code>が返すIDを覚えておいて、それを<code>clearInterval</code>に渡すんだ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>IDってどんな感じで取得するんですか？</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>例えばこうだね。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                    <pre class="js-code">
let timerId = setInterval(function() {
count++;
console.log(count);
}, 1000);
        
setTimeout(function() {
clearInterval(timerId);
console.log("タイマーを止めました！");
}, 5000);
                </pre>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>なるほど！これだと5秒後にタイマーが止まるんですね。便利ですね！</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-left">
                <img src="/images/piyo.png" alt="せんせい">
                <figcaption class="balloon-image-description">せんせい</figcaption>
            </figure>
            <div class="balloon-text-right">
                <p>うん、こうやって<code>setTimeout</code>と<code>setInterval</code>を組み合わせると、いろんなことができるようになるよ。</p>
            </div>
        </div>
        
        <div class="balloon">
            <figure class="balloon-image-right">
                <img src="/images/pen.png" alt="せいとくん">
                <figcaption class="balloon-image-description">せいとくん</figcaption>
            </figure>
            <div class="balloon-text-left">
                <p>へえー。すごいなあ。</p>
            </div>
        </div>
        
    <div class="balloon">
        <figure class="balloon-image-left">
            <img src="/images/piyo.png" alt="せんせい">
            <figcaption class="balloon-image-description">せんせい</figcaption>
        </figure>
        <div class="balloon-text-right">
            <p>今回も演習問題を用意しましたよ。<a href="ex/ex3-6" id="ex1" class="exercise">[演習へ進む]</a></p>
        </div>
    </div>
    </div>
    <%- include("_footer") %>
</footer>
</body>
</html> 

<script>
    setTimeout(function() {
    console.log("こんにちは！");
}, 3000);
</script>